# Course Python basic data science

In [176]:
import sys
print(sys.version)

3.6.7 (default, Jul  2 2019, 02:21:41) [MSC v.1900 64 bit (AMD64)]

In [177]:
import numpy as np
import matplotlib.pyplot as plt
import scipy

In [2]:
# first statement
print("hello world")

hello world

In [6]:
print("Hello \n world")

Hello
 world

In [7]:
print('Hello \n world')

Hello
 world

## TYPES

In [8]:
# THE DATA TYPES ARE INT, FLOAT, STR STRING CHARACTERSS

In [11]:
a=2.0
print(a,float(a),int(a))

2.0 2.0 2

In [62]:
print(type(0.5))
sys.float_info

<class 'float'>

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [14]:
# string can not be converted
#Boolean values are True of False
b=True
c=False
print(int(b),int(c))

1 0

In [17]:
print(bool(1))

True

In [72]:
print(int('1'))
print(float('1'))
print(str(1), str(454.5))
print(float('1.555'))# here 1.555 is a string and converted into a  float

1
1.0
1 454.5
1.555

In [70]:
int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

## Expressions

In [33]:
# we can use  addition, substraction, multiplication and ratios
#// integer division

In [34]:
print("{} \n is integer division ".format(10//3))
print("{}  is integer division ".format(10//3))
print("{} \n is float  division ".format(10/3))
print("{}  is float  division ".format(10/3))

3
 is integer division
3  is integer division
3.3333333333333335
 is float  division
3.3333333333333335  is float  division

In [35]:
# mathemartical conventions
print(2*60+10)
print(10+2*60)
print((10+2)*10)

130
130
120

In [51]:
 # variables to store value
my_var=1
x=43+60+16+41
y=x/60

print(x,y )
x=x/52
# we can see the  variable and type
print(x,type(x))

160 2.6666666666666665
3.076923076923077 <class 'float'>

In [56]:
total_min=43+43+57
total_hr=total_min/60
total_hr

2.3833333333333333

### String operations

In [124]:
# string is seq of characters
# spaces and digits ands special characterss
Name="Michael JAckson"

In [79]:
print(Name[7])
print(Name[0],Name[1],Name[2],Name[3],Name[4],Name[5],Name[6])
print(Name[-1],Name[-2],Name[-3])

M i c h a e l
n o s

In [99]:
# rememeber slicing is from position X to Y-1
N2=Name[0:3]
print(N2)
N3=Name[-5:-1]
print(N3)
#N4=Name[-1:-1:-6]
#print(N4)
# then so selectevery second of the whole string 
print(Name[::2],Name)
# we can do the same slicing 
print(Name[::4],Name)
print(Name[0:-1:3])
print(Name[0:-1:2])

Mic
ckso
McalJcsn Michael JAckson
MaJs Michael JAckson
MhlAs
McalJcs

In [100]:
len(Name)# length of the string

15

In [106]:
# operatiosn with lists as strings
Name2=Name+"is the singer"
len(Name2)
Name3=3*Name
print(Name3)

Michael JAcksonMichael JAcksonMichael JAckson

In [107]:
Name3[3]="R"
#This means that the  string cannnot be changed

TypeError: 'str' object does not support item assignment

In [109]:
# we can concatenate on the 
Name=Name+"best of the best"
Name

'Michael JAcksonbest of the bestbest of the best'

In [114]:
#Scape sequences
# as previous \n represente line new
print("michael jackson \n is the best \n mothfckrs")
# plus \t repredente a tab
print("michael jackson \t is the best \t mothfckrs")
# then if we want tpo print a backslash
print("michael jackson \\ is the best \\ mothfckrs")
################################################
print(r"michael jackson  \ is the best mothfckrs")

michael jackson
 is the best
 mothfckrs
michael jackson 	 is the best 	 mothfckrs
michael jackson \ is the best \ mothfckrs
michael jackson  \ is the best mothfckrs

In [121]:
# string methods
# METHOD UPPER
A="Thriller is an album"
A.upper()
# METHOD  REPLACE
B=A.replace('Thriller','Californication')
B

'Californication is an album'

In [232]:
Name

'Michael JAckson'

In [130]:
# METHOD FIND
# find  seeks in a string a sereis of  characters
#  just the first position
print(Name)
print(Name.find("M"))
print(Name.find("Michael"))
print(Name.find("JAck"))
# if the  values is not there, then the  value is -1
print(Name.find("&*D"))
print(Name.find("z"))

Michael JAckson
0
0
8
-1
-1

In [137]:
#examples
Letters="ABCDEFGHIJKLMNSTE"
# get the  4 first digits o
print(Letters[0:4])
print(Letters.lower())
good="GsoAo+D"
print(good)
print(good[::2])

ABCD
abcdefghijklmnste
GsoAo+D
GooD

# Lists, Tupples, dictionaries

In [163]:
#tuples are ordered sequences
#tuplesa re writtenas comma-separated elemtns within parenthesis
Ratings=(10,9,6,5,10,8,9,6,2)
 # in python there are different types
#strings
#integres
#floats
tuple1=('disco',10,1.2)
type(tuple1)
# this specifies  that the object is a tuple

tuple

In [146]:
print("{} is a tuple".format(tuple1))

('disco', 10, 1.2) is a tuple

In [150]:
# the elemtns can be access by the index number like the follwoing example
print(tuple1[-1], tuple1[2])

1.2 1.2

In [164]:
#it is possible to concatenate
tuple2=("disco",10,2.2)
tuple1=tuple1+tuple2
tuple1=tuple1+("janeri",151)
tuple1

('disco', 10, 1.2, 'disco', 10, 2.2, 'janeri', 151)

In [166]:
# slicing tupples
tuple1[:3]

('disco', 10, 1.2)

In [167]:
tuple1[3:len(tuple1)]

('disco', 10, 2.2, 'janeri', 151)

Tuples are inmutable, we can not change them

In [169]:
Ratings1=Ratings# we can not change tuples
Ratings[1]=15

TypeError: 'tuple' object does not support item assignment

In [173]:
Ratings=(2,10,2) 
print(Ratings,Ratings1)
# if we want to manipulate a tuple 
#better teo create a new tuple
# to

(2, 10, 2) (10, 9, 6, 5, 10, 8, 9, 6, 2)

In [175]:
# to sort a tuple this is done by [sorted]
Rartsorted=sorted(Ratings)
Rartsorted

[2, 2, 10]

In [178]:
# a tuple can contain other tuples inside
NT=(1,2,("pop","rock"),(3,4),("disco",(1,2)))

In [180]:
print(NT[2],NT[2][1])

('pop', 'rock') rock

### Lists

Lists are oredered sequences which can contain strings, floats and integers.
Lists take square brackets AND CAN CONTAIN BRACKETS AND TUPLES

In [182]:
LIST=["MICHAL JACK",10.1,1986,[1,2],('A',1)]

In [184]:
LIST[0:3]

['MICHAL JACK', 10.1, 1986]

In [185]:
LIST[::2]

['MICHAL JACK', 1986, ('A', 1)]

In [186]:
LIST[-1]

('A', 1)

In [188]:
LIST[2:5]

[1986, [1, 2], ('A', 1)]

The lists can be concatenated or cibined to create another list, in the following  cell this can be achieved.

In [191]:
L1=LIST+["pop",10.2,5.6]
L1

['MICHAL JACK', 10.1, 1986, [1, 2], ('A', 1), 'pop', 10.2, 5.6]

In [194]:
# the method extend can be used 
# to concatenate or extent the list,
LIST.extend(["pop",10])
LIST

['MICHAL JACK', 10.1, 1986, [1, 2], ('A', 1), 'pop', 10, 'pop', 10, 'pop', 10]

In [196]:
for i in LIST:
    print(i)

MICHAL JACK
10.1
1986
[1, 2]
('A', 1)
pop
10
pop
10
pop
10

In [200]:
# append is just one element
LIST.append(1596)
LIST.append(["poprock",10])

In [203]:
for i in LIST:
    print(i)
print("{} is  the alst value on the list".format(LIST[-1]))

MICHAL JACK
10.1
1986
[1, 2]
('A', 1)
pop
10
pop
10
pop
10
1596
1596
['poprock', 10]
['poprock', 10] is  the alst value on the list

In [204]:
LIST[-1]=(["electro",25])

In [205]:
for i in LIST:
    print(i)
print("{} is  the alst value on the list".format(LIST[-1]))

MICHAL JACK
10.1
1986
[1, 2]
('A', 1)
pop
10
pop
10
pop
10
1596
1596
['electro', 25]
['electro', 25] is  the alst value on the list

In [208]:
# we can erase with del command
del(LIST[0])

In [209]:
for i in LIST:
    print(i)
print("{} is  the alst value on the list".format(LIST[-1]))

10.1
1986
[1, 2]
('A', 1)
10
pop
10
pop
10
1596
1596
['electro', 25]
['electro', 25] is  the alst value on the list

In [ ]:
 # to create an empty list
A=[]

In [211]:
#to create a list from a word uwing the split method
"j,o,r,g,e,a,l,b,e,r,t,o".split(",")

['j', 'o', 'r', 'g', 'e', 'a', 'l', 'b', 'e', 'r', 't', 'o']

#when we set  one variable equaal to A A and B are refereced to the  same list this is called aliasing

In [215]:
A=["hard rock",10,1.25]
B=A
A[0]="banana"
print(B, A)

['banana', 10, 1.25] ['banana', 10, 1.25]

To avoid aliasing we can use two methods

In [219]:
# 1st method
A
C=A[:]
A[0]="Strawberry"
print(C,A)
# 2nd method

['banana', 10, 1.25] ['Strawberry', 10, 1.25]

### Excercises TUPLE

In [234]:
##Excercise1
#create a tuple (0,1,2,3)
A=(0,1,2,3,"dDF")
A[-1]

'dDF'

In [225]:
print(A[0:2])

(0, 1)

In [226]:
B=["a","b","c"]

In [235]:
print(B[0:2])
print(B[1:])

['A', 'b']
['b', 'c']

In [233]:
B[0]="A"
print(B)
AA="eluviera"
AA.find('el')
print()

['A', 'b', 'c']

0

Imagine you received album recommendations from your friends and compiled all of the recommandations into a table, with specific information about each album.
​
The table has one row for each movie and several columns:
​
- **artist** - Name of the artist
- **album** - Name of the album
- **released_year** - Year the album was released
- **length_min_sec** - Length of the album (hours,minutes,seconds)
- **genre** - Genre of the album
- **music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/)
- **claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/)
- **date_released** - Date on which the album was released
- **soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
- **rating_of_friends** - Indicates the rating from your friends from 1 to 10
<br>
<br>
​
The dataset can be seen below:
​
<font size="1">
<table font-size:xx-small style="width:100%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

In [237]:
#as mentioned before there as three differente data types know as strings, integers and floats
tuple1=("disco",10.12,5)
print(tuple1)

('disco', 10.12, 5)

In [240]:
for i in tuple1:
    print(i,type(i))

disco <class 'str'>
10.12 <class 'float'>
5 <class 'int'>

In [242]:
for i in range(len(tuple1)):
    print(tuple1[i])

disco
10.12
5

In [249]:
tuple2=tuple1+("hard",15)
print(tuple2)
#slicing
print(tuple2[::2])
print(tuple2[2:5])
print(len(tuple2))

('disco', 10.12, 5, 'hard', 15)
('disco', 5, 15)
(5, 'hard', 15)
5

In [265]:
# sorting
Rat=(1,5,8,4,12,8,5,12,67,13,0,1)
print(sorted(Rat),Rat.index(1))

[0, 1, 1, 4, 5, 5, 8, 8, 12, 12, 13, 67] 0

In [255]:
#NEsted tuples
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
for i,k in enumerate(NestedT):
    print(i,k)

0 1
1 2
2 ('pop', 'rock')
3 (3, 4)
4 ('disco', (1, 2))

In [256]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco")

In [274]:
for k in genres_tuple:
    print(k)

pop
rock
soul
hard rock
soft rock
R&B
progressive rock
disco

In [258]:
len(genres_tuple)
genres_tuple[3:]

('hard rock', 'soft rock', 'R&B', 'progressive rock', 'disco')

In [261]:
# other way to obtain the values which contain 
# a certain value is  using INDEX
genres_tuple.index("disco")

7

In [273]:
Ctup=genres_tuple[-5:1:-3]
# here it goes not inclusive -5 to -3 meaning that only -4 
print(Ctup)
print(genres_tuple)

('hard rock',)
('pop', 'rock', 'soul', 'hard rock', 'soft rock', 'R&B', 'progressive rock', 'disco')

In [276]:
Dtup=(-5,2,-3)
D_list=sorted(Dtup)
D_list

[-5, -3, 2]

### Excercises LISTS

In [279]:
a_list=[1,"hello",[1,2,3],True]
print(a_list)

[1, 'hello', [1, 2, 3], True]

In [280]:
a_list[1]

'hello'

In [281]:
a_list[1:4]

['hello', [1, 2, 3], True]

In [284]:
# concatenate two list
A=[1,"a"]
B=[2,1,"d"]
C=A+B
C

[1, 'a', 2, 1, 'd']

## SETS

A set is an unordered list this is no elemtn position on a set. just unique elemts, partiualr ones.Thus diplicates  elemts are not displayed

In [287]:
set1={"por","fa","ya","bañate","fa","por","marrano"}
set1

{'bañate', 'fa', 'marrano', 'por', 'ya'}

In [289]:
# a list can be converted into a set by
# set() this is type casting

In [290]:
album_list=["Mich","thriller","thriller",1982]

In [297]:
album_set=set(album_list)
type(album_set)
print(album_list,album_set)

['Mich', 'thriller', 'thriller', 1982] {'Mich', 'thriller', 1982}

In [300]:
# set operations e.g venn diagram
# using the property .add we added a element 
#but the set has not changed at all
# remove we remove the values
A={"Nsync","BnB","ACDC"}
A.add("Nsync")
A
A.remove("Nsync")
A

{'ACDC', 'BnB'}

##### Boolean type in SETS

In [301]:
"ACDC" in A

True

In [302]:
"EJOHN" in A

False

sets can use differente  operations. the following cell are focus on that

In [307]:
set1={"ACDC","BNB","THRILLER"}
set2={"ACDC","BNB","DARKSIDE"}

In [312]:
# using venn diagrams
# in python the sign & is used to find the intersection 
# of two sets
set3=set1&set2
set3

{'ACDC', 'BNB'}

In [315]:
# with the instruction .union
#we  united the two sets
set4=set1.union(set2)
set4

{'ACDC', 'BNB', 'DARKSIDE', 'THRILLER'}

In [316]:
# using ven  diagrams  we can check if a set A is a subset
# of set B and it replies 
set3.issubset(set1)

True

In [321]:
if set3.issubset(set1):
    print("IM right")
else:
    print("im wrong")

IM right

In [322]:
if set3.issubset(set2):
    print("IM right")
else:
    print("im wrong")

IM right

In [323]:
if set1.issubset(set3):
    print("IM right")
else:
    print("im wrong")

im wrong

In [324]:
# the structure of if is
#if b > a:
#  print("b is greater than a")
#elif a == b:
#  print("a and b are equal")
#else:
#  print("a is greater than b")

In [325]:
#EXCercises of sets

In [336]:
lista1=['A','B','C','A','B','C']
type(lista1)

list

In [337]:
SET_A=set(lista1)
print(SET_A)
SET_Z={"A","B","C"}
print(SET_Z)

{'B', 'C', 'A'}
{'B', 'C', 'A'}

In [330]:
SET_A.add("D")
SET_A

{'A', 'B', 'C', 'D'}

In [340]:
SET_B=SET_Z&SET_A

#### EX2

In [341]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [342]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [343]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [347]:
# Add element to set
A = set(["Thriller", "Back in Black", "AC/DC"])
A
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [348]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [349]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [350]:
# Verify if the element is in the set

"AC/DC" in A

True

In [351]:
# logip iperations or boolean
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [352]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [353]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [354]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [355]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [356]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [358]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [359]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [360]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [361]:
#EXCERCISE 3
SETFINAL=set(['rap','house','electronic music', 'rap'])

In [363]:
# another operation is sum 
#it can be performed on the list and set
A = [1, 2, 2, 1] 
B = set([1, 2, 2, 1])
print("The sum of A is: {}".format(sum(A)))
print("The sum of B is: {}".format(sum(B)))

The sum of A is: 6
The sum of B is: 3

In [364]:
# CREate 2 sets and  get the union
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
#set1.union(set2)
album_set3=album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [366]:
album_set4=album_set1.issubset(album_set3)
album_set4

True

# Dictionaries

Dcitionaries are a type of collection in python, a list has indexes, the list has elements, but a dictionary has $\textbf{KEYS AND VALUES}$. KEy is analogous to index, but necessarily  integers.Usually  are characters simillary to elemnts in a list. we use {} for dictionaries, they have to be immutable and unique, the values can be immutable, mutable and duplicates. Values can be strings,values, lists, tuples.

In [370]:
{"key1":1 ,"key2":"2", "key3":[3,3,3] ,"key4":(4,4,4) ,("key5"):5}

{'key1': 1, 'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5}

In [383]:
DICT1={"Thriller":1982,"Black in Black":1980,"DarkSide":1973,"Boduguard":1992}
DICT1
print("The value for KEY  is {}".format(DICT1["Black in Black"]))

The value for KEY  is 1980

In [385]:
# adding Keys
DICT1['Graduation']='2007'
DICT1["Rumors"]="1977"
print(DICT1)

{'Thriller': 1982, 'Black in Black': 1980, 'DarkSide': 1973, 'Boduguard': 1992, 'Graduation': '2007', 'Rumors': '1977'}

In [386]:
# ELIMINATE  VALUES IN THE  DICTIONARY
del(DICT1["Thriller"])
print(DICT1)

{'Black in Black': 1980, 'DarkSide': 1973, 'Boduguard': 1992, 'Graduation': '2007', 'Rumors': '1977'}

In [387]:
# check if the key is in the dictionary
"Graduation" in DICT1

True

In [389]:
# check if the key is in the dictionary
"star" in DICT1

False

In [391]:
# to see the  keys in the dictionary
DICT1.keys()

dict_keys(['Black in Black', 'DarkSide', 'Boduguard', 'Graduation', 'Rumors'])

In [392]:
# to see the values in teh dictionary
DICT1.values()

dict_values([1980, 1973, 1992, '2007', '1977'])

In [393]:
# examples
#NEw dictionary
D={'a':0,'b':1,'c':2}

In [395]:
#find teh value of key "a"
D['a']

0

In [396]:
D.keys()

dict_keys(['a', 'b', 'c'])

In [397]:
D.values()

dict_values([0, 1, 2])

In [398]:
#ex2
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [401]:
keys=soundtrack_dic.keys()
print(keys)

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [403]:
values=soundtrack_dic.values()
print(values)

dict_values(['1992', '1977'])

In [405]:
#ex3
album_sales_dic = {"BNB":50,"BDY":50,"Thriller":65}
album_sales_dic

{'BNB': 50, 'BDY': 50, 'Thriller': 65}

In [406]:
album_sales_dic["Thriller"]

65

In [407]:
album_sales_dic.values()

dict_values([50, 50, 65])

In [408]:
album_sales_dic.keys()

dict_keys(['BNB', 'BDY', 'Thriller'])

In [409]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [410]:
# keys can be strings, inmmutable
Dict[(0, 1)]

6

In [ ]:
##END of MODULE 1 and 2