# Course Python basic data science Module 4
## Python programming 
### PANDAS

- Reading files with open
- Writing files with open
- Loading data with Pandas
- Working with and Saving data with Pandas

In [1]:
import pandas as pnd
import numpy as np
import matplotlib.pyplot as plt

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="dataset">About the Dataset</a></li>
        <li><a href="pandas">Introduction of <code>Pandas</code></a></li>
        <li><a href="data">Viewing Data and Accessing Data</a></li>
        <li><a href="quiz">Quiz on DataFrame</a></li>
    </ul>
    <p>
        Estimated time needed: <strong>15 min</strong>
    </p>
</div>

<hr>

The table has one row for each album and several columns

<ul>
    <li><b>artist</b>: Name of the artist</li>
    <li><b>album</b>: Name of the album</li>
    <li><b>released_year</b>: Year the album was released</li>
    <li><b>length_min_sec</b>: Length of the album (hours,minutes,seconds)</li>
    <li><b>genre</b>: Genre of the album</li>
    <li><b>music_recording_sales_millions</b>: Music recording sales (millions in USD) on <a href="http://www.song-database.com/">[SONG://DATABASE]</a></li>
    <li><b>claimed_sales_millions</b>: Album's claimed sales (millions in USD) on <a href="http://www.song-database.com/">[SONG://DATABASE]</a></li>
    <li><b>date_released</b>: Date on which the album was released</li>
    <li><b>soundtrack</b>: Indicates if the album is the movie soundtrack (Y) or (N)</li>
    <li><b>rating_of_friends</b>: Indicates the rating from your friends from 1 to 10</li>
</ul>

You can see the dataset here:

<font size=".2">
<table font-size:xx-small style="width:90%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

In [5]:
import pandas as pd

In [16]:
# Read data from CSV file usnig .read_csv method

csv_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)
# method to write  from pandas to CSV file, encoding and not encoding
df.to_csv('C:/Users/LENOVO/Documents/AGILE_JNT/python_practiceJG/CSV_PANDAS_enc.csv',encoding='utf-8')
df.to_csv('C:/Users/LENOVO/Documents/AGILE_JNT/python_practiceJG/CSV_PANDAS.csv')

In [17]:
# the head method is to examine the first fove rows of a 
#dataframe
# in this case df contains the frame
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [15]:
xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

df = pd.read_excel(xlsx_path)
df.to_excel(r'C:/Users/LENOVO/Documents/AGILE_JNT/python_practiceJG/XLS_PANDAS.xls')
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [25]:
# we can access  the column length
x=df[["Length"]]
# we have as a result  that contains length of record 
# position and column
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [26]:
# we can access  the column length
y=df[["Released"]]
# we have as a result  that contains length of record 
# position and column
y

   Released
0      1982
1      1980
2      1973
3      1992
4      1977
5      1976
6      1977
7      1977

## View and access data
You can also get a column as a series. You can think of a Pandas series as a 1-D dataframe. Just use one bracket:

In [27]:
# Get the column as a series

x = df['Length']
x

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [31]:
for lenvals in x:
    print("The length of the record is {}\n".format(lenvals))

The length of the record is 0:42:19

The length of the record is 0:42:11

The length of the record is 0:42:49

The length of the record is 0:57:44

The length of the record is 0:46:33

The length of the record is 0:43:08

The length of the record is 1:15:54

The length of the record is 0:40:01

In [32]:
# Get the column as a dataframe
# series is df['Artist']
# dataframe df[['Artist']]

x = type(df[['Artist']])
x

pandas.core.frame.DataFrame

You can do the same thing for multiple columns; we just put the dataframe name, in this case, df, and the name of the multiple column headers enclosed in double brackets. The result is a new dataframe comprised of the specified columns:

In [35]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

            Artist   Length                        Genre
0  Michael Jackson  0:42:19               pop, rock, R&B
1            AC/DC  0:42:11                    hard rock
2       Pink Floyd  0:42:49             progressive rock
3  Whitney Houston  0:57:44               R&B, soul, pop
4        Meat Loaf  0:46:33  hard rock, progressive rock
5           Eagles  0:43:08   rock, soft rock, folk rock
6         Bee Gees  1:15:54                        disco
7    Fleetwood Mac  0:40:01                    soft rock

In [36]:
print(type(y))

<class 'pandas.core.frame.DataFrame'>

In [38]:
# we can acces values  using loc,iloc}
# first  row first column
df.iloc[0,0]

'Michael Jackson'

In [39]:
# Access the value on the second row and the first column

df.iloc[1,0]

'AC/DC'

In [40]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

### We an access the colum usign the name as well with loc

In [41]:
df.loc[0,'Artist']

'Michael Jackson'

In [49]:
#slicing
df.loc[:,'Genre']

0                 pop, rock, R&B
1                      hard rock
2               progressive rock
3                 R&B, soul, pop
4    hard rock, progressive rock
5     rock, soft rock, folk rock
6                          disco
7                      soft rock
Name: Genre, dtype: object

In [47]:
print(df.loc[1, 'Artist'])
print(df.loc[0, 'Released'])
print(df.loc[1, 'Released'])
print(df.loc[2, 'Released'])

AC/DC
1982
1980
1973

In [48]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [50]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [53]:
#set Rating to  as dataframe
q=df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [54]:
#set Rating to  as dataframe
q=df[['Rating','Artist']]
q

   Rating           Artist
0    10.0  Michael Jackson
1     9.5            AC/DC
2     9.0       Pink Floyd
3     8.5  Whitney Houston
4     8.0        Meat Loaf
5     7.5           Eagles
6     7.0         Bee Gees
7     6.5    Fleetwood Mac

In [56]:
df.iloc[1,2]

1980

## WE can create a data frame out of a dictionary, where a data frame ina a comprise of rows and columns

In [71]:
#frame out of a dictionary
# keys correspond to labels (album, released length
# values of the list to the rows
songs={"Album":["Thriller","BNB","Dark side of the moon",\
               "Te bodyguard","Bat out of hell"],"Released":[1982,1980,1973,1992,1977],\
       "Length":["00:42:19","00:42:11","00:42:49","00:57:44","00:46:33"]}
songs_frame=pd.DataFrame(songs)

In [60]:
songs_frame

                   Album  Released    Lentgh
0               Thriller      1982  00:42:19
1                    BNB      1980  00:42:11
2  Dark side of the moon      1973  00:42:49
3           Te bodyguard      1992  00:57:44
4        Bat out of hell      1977  00:46:33

In [62]:
# NEW DATA FRAME
x=df[['Length']]
x

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [66]:
Y=df[['Album','Released','Length']]
Y

                             Album  Released   Length
0                         Thriller      1982  0:42:19
1                    Back in Black      1980  0:42:11
2        The Dark Side of the Moon      1973  0:42:49
3                    The Bodyguard      1992  0:57:44
4                  Bat Out of Hell      1977  0:46:33
5  Their Greatest Hits (1971-1975)      1976  0:43:08
6             Saturday Night Fever      1977  1:15:54
7                          Rumours      1977  0:40:01

In [68]:
df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [69]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

### When we have a dataframe we can work with the data and save the results in other formats. Consider the stack of 13 blocks of different colors. We can see there are three unique colors.Letâ€™s say you would like to find out how many unique elements are in a column of a dataframe. 

#### This may be much more difficult because instead of 13 elements you may have millions. pandas has the method unique to determine the unique elements in a column of a dataframe.

In [79]:
#unique method
songs_frame['Released'].unique()

array([1982, 1980, 1973, 1992, 1977], dtype=int64)

Let's say we would like to create a new database consisting of songs from the 1980's and after.
We can look at the column â€˜Releasedâ€™ for songs made after 1979, then select the corresponding
columns.

We can accomplish this within one line of code in Pandas, but letâ€™s break up the steps.
We can use the inequality operators for the entire dataframe in pandas.
The result is a series of Boolean values.

In [81]:
songs_frame['Released']>=1980

0     True
1     True
2    False
3     True
4    False
Name: Released, dtype: bool

In [87]:
#The result is true when the condition is true and false otherwise.
#We can select the specified columns in one line; we simply use the dataframeâ€™s names,
#and in square brackets we place the previously mentioned inequality and assign it to the
#variable songs_frame1.
songs_frame1=songs_frame[songs_frame['Released']>=1980]
songs_frame1

          Album  Released    Length
0      Thriller      1982  00:42:19
1           BNB      1980  00:42:11
3  Te bodyguard      1992  00:57:44

In [88]:
# we can save the dataframe 
songs_frame1.to_csv('C:/Users/LENOVO/Documents/AGILE_JNT/python_practiceJG/new_songs.csv')

In [97]:
#NEW FRAME
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df

   a  b
0  1  1
1  2  1
2  1  1

In [91]:
#find the unique values in column  'a'
df['a'].unique()

array([1, 2], dtype=int64)

In [96]:
#return a dataframe with only the rows where column 
# a  is less than two

new_Df_frame=df[df['a']<2]

new_Df_frame

   a  b
0  1  1
2  1  1